<template>
  <div id="time-slot-bar-item">
    <div class="wrapper">
    <span v-if="timeslot.name === 'pauze'">{{ timeslot.name }}</span>
    <span v-if="timeslot.name !== 'pauze'">{{ timeslot.start.toLocaleTimeString(
        'nl-BE',
        {
        hour12: false,
        hour: "numeric",
        minute: "numeric"}).replace(':', 'u')
        + ' - '
        + timeslot.end.toLocaleTimeString(
        'nl-BE',
        {
        hour12: false,
        hour: "numeric",
        minute: "numeric"
        }).replace(':', 'u')
        }}</span>
      </div>
  </div>
</template>

<script>
export default {
  name: 'TimeSlotsBarItem',
  props: ['timeslot'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  div#time-slot-bar-item {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Vag light';
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    color: rgba(0,0,0,0.5);
    margin-bottom: 0.9rem;
    box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.1);
  }

  div#time-slot-bar-item.active {
    box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.6);
  }
  .wrapper  {
    padding: 0.6em;
  }
  .active .wrapper {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,0.8);
    box-shadow: inset 0 -5px 0 #E6007E;
  }
</style>
