<template>
  <div class='timer-box'>
      <span id="counter">{{ counter.counter }}</span>
      <span id="units">{{ counter.units }}</span>
  </div>
</template>

<script>
export default {
  props: ['counter'],
  name: 'TimerBox',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    div {
        display: inline-block;
        background-color: white;
        vertical-align: center;
        padding: 2em 3em;
        box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.3);
        -webkit-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.3);
    }
    span {
        display: block;
    }
    #counter {
        font-family: 'Vag light';
        font-size: 8rem;
        font-weight:bold;
    }
    #units {
        font-size: 2rem;
    }
</style>
