<template>
  <div id="parent">
    <div v-if="started">
      <h2>{{ timeslot.name }}</h2>
        <div v-if="started">
          <span id="explainer">eindigt binnen</span>
          <TimerBox :counter="hours" v-if="hours.counter > 0"/>
          <TimerBox :counter="minutes"/>
          <TimerBox :counter="seconds"/>
        </div>
      </div>
      <div v-if="!started">
        <h2>Welkom</h2>
          <div v-if="!started">
              <span id="explainer">We starten binnen</span>
              <TimerBox :counter="start_hours" v-if="start_hours.counter > 0"/>
              <TimerBox :counter="start_minutes"/>
              <TimerBox :counter="start_seconds"/>
        </div>
      </div>
  </div>
</template>

<script>
import TimerBox from './TimerBox'
export default {
  props: ['timeslot'],
  name: 'Timer',
  components: {
    TimerBox
  },
  data () {
    return {
      now: Math.trunc((new Date()).getTime() / 1000),
      date: null,
      difference: 0,
      start_difference: 0,
      interval: null,
      started: false
    }
  },
  methods: {
    startTimer () {
      this.interval = setInterval(() => {
        this.now = Math.trunc((new Date()).getTime() / 1000)
      }, 1000)
    }
  },
  watch: {
    now (value) {
      this.start_difference = this.timeslot.start.getTime() / 1000 - this.now
      if (this.start_difference > 0) {
        this.started = false
        return true
      } else {
        this.started = true
      }
      this.difference = this.timeslot.end.getTime() / 1000 - this.now
      if (this.difference <= 0) {
        this.difference = 0
        // Remove interval
        clearInterval(this.interval)
        this.$emit('timer-ready')
      }
    },
    timeslot (value) {
      this.startTimer()
    }
  },
  computed: {
    start_seconds () {
      return {counter: Math.trunc(this.start_difference) % 60, units: 'sec'}
    },
    start_minutes () {
      return {counter: Math.trunc(this.start_difference / 60) % 60, units: 'min'}
    },
    start_hours () {
      return {counter: Math.trunc(this.start_difference / 60 / 60) % 24, units: 'uren'}
    },
    seconds () {
      return {counter: Math.trunc(this.difference) % 60, units: 'sec'}
    },
    minutes () {
      return {counter: Math.trunc(this.difference / 60) % 60, units: 'min'}
    },
    hours () {
      return {counter: Math.trunc(this.difference / 60 / 60) % 24, units: 'uren'}
    }
  },
  created () {
    this.startTimer()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div#parent {
  padding-top: 4em;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
h2 {
  background-color: #E6007E;
  color:white;
  font-size: 5em;
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 5rem;
}
#explainer {
    color: white;
    font-size: 3em;
    font-family: 'Vag light';
    display: block;
    margin-bottom: 3em;
    font-weight: 500;
}
.timer-box:not(:last-child){
    margin-right:1.5em;
}
</style>
