<template>
  <div id="time-slot-bar">
    <h2>timeslots</h2>
    <TimeSlotsBarItem v-for="(timeslot, index) in timeslots" :key='index' :timeslot="timeslot" v-bind:class="{ active: timeslot.id == current_timeslot.id }"></TimeSlotsBarItem>
  </div>
</template>

<script>
import TimeSlotsBarItem from './TimeSlotsBarItem'

export default {
  name: 'TimeSlotsBar',
  components: {
    TimeSlotsBarItem
  },
  props: ['timeslots', 'current_timeslot'],
  computed: {
    isActive () {
      return true
    }
  },
  data () {
    return {
    }
  }
}
</script>

<style scoped>
div#time-slot-bar {
    height: 100%;
  background-color: rgba(255,255,255,0.8);
    padding: 0.1em 1em  ;
    box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.3);
}
h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.03em;
    margin-bottom: 1em;
}
</style>
