<template>
  <div id="app">
      <header>
          <img src="./assets/logo.png">
          <h1>Howest Stagemarkt</h1>
      </header>
      <div v-if="current_timeslot !== null">
        <aside>
          <TimeSlotsBar :timeslots="timeslots" :current_timeslot="current_timeslot"/>
        </aside>
        <main>
          <Timer :timeslot="current_timeslot" v-if="current_timeslot !== null"  @timer-ready="onTimerReady"/>
        </main>
        <span style="clear:both;" v-if="current_timeslot === null" >Thanks</span>
      </div>
      <div id="thanks-wrapper" v-if="current_timeslot === null">
          <h2>Dankjewel voor uw deelname aan de Howest Stagemarkt!</h2>
      </div>
  </div>
</template>

<script>
import Timer from './components/Timer'
import TimeSlotsBar from './components/TimeSlotsBar'

export default {
  name: 'App',
  components: {
    Timer, TimeSlotsBar
  },
  methods: {
    createTimeslots () {
      let start = new Date(1694691000 * 1000) // Start Sept 14 2023, 13:30
      console.log(start)

      let nameCounter = 1

      for (let i = 0; i < 14; i++) {
        this.timeslots.push({
          id: i,
          name: 'Tijdslot ' + nameCounter,
          start: new Date(start.getTime() + i * 1 * 900000),
          end: new Date(start.getTime() + (i + 1) * 1 * 900000)
        })

        if (i === 4 || i === 5 || i === 10 || i === 11) {
          this.timeslots[i].name = 'pauze'
        } else {
          nameCounter++
        }
      }
    },
    setCurrentTimeslot () {
      let now = Date.now()
      if (now < this.timeslots[0].start) {
        this.current_timeslot = this.timeslots[0]
        return true
      }
      if (
        this.timeslots.some((timeslot) => {
          if (timeslot.start <= now && now <= timeslot.end) {
            this.current_timeslot = timeslot
            return true
          }
        }) === false
      ) {
        this.current_timeslot = null
      }
      return null
    },
    onTimerReady () {
      this.setCurrentTimeslot()
    }
  },
  data () {
    return {
      timeslots: [],
      current_timeslot: null,
      finished: false
    }
  },
  created () {
    this.createTimeslots()
    this.setCurrentTimeslot()
  }
}
</script>

<style>
@font-face {
    font-family: Vag;
    src: url("./assets/fonts/VAGRoundedBT-Regular.otf");
}
@font-face {
    font-family: 'Vag light';
    src: url("./assets/fonts/VAGRounded-Thin.otf");
}
@font-face {
    font-family: 'Vag regular';
    src: url("./assets/fonts/VAGRounded-Black.otf");
}

html {
    font-family: Vag;
    height: 130%;
}
body {
    min-height: 100%;
}
#app {
  font-family: Vag;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
    height:130%;
}
header {
    background-color: white;
    position: relative;
}
header img {
    width:10%;
}
header h1 {
    display: inline-block;
    position: absolute;
    font-size: 2.5em;
    right:2%;
    letter-spacing: 0.02em;
}
aside {
    display: inline-block;
    float:left;
    width: 20%;
    height: 100%;
}
main {
    float:right;
    display: inline-block;
    width: 80%;
}

#thanks-wrapper h2 {
    background-color: #E6007E;
    color:white;
    font-size: 4em;
    display: table;
    padding: 1rem 1rem;
    margin: 10rem auto 0 auto;
    text-align: center;
    box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 5px 6px 0px rgba(0,0,0,0.3);
}

#thanks-wrapper {
    padding: 3em;
}
</style>
